<div class="question-text-sample question-text" style="display:none;">

    <b>Text Option</b>
    <div class="question-answer">
        {{ forms.input('answer', 'text', null, 'Answer') }}
    </div>
</div>