/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 11, 2015, 12:13:05 PM
    Author     : sbc
*/

.survey-question-form{
    border:2px dotted #dedede;
    padding:5px;
    margin-top:5px;
}

